<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blood_Donation"
        tools:targetApi="31">
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".ManageDonor"
            android:exported="false" />
        <activity
            android:name=".ManagePatient"
            android:exported="false" />
        <activity
            android:name=".ManageUser"
            android:exported="false" />
        <activity
            android:name=".AdministerHomeAcitvity"
            android:exported="false" />
        <activity
            android:name=".Administratorlogin"
            android:exported="false" />

        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.Blood_Donation.NoActionBar" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".infoRevised"
            android:exported="false" />
        <activity
            android:name=".info2"
            android:exported="false" />

        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecieverAddressREvised"
            android:exported="false" />

        <activity
            android:name=".RecieverList"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/My_api_key" />


        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Request_blood"
            android:exported="false" />

        <activity
            android:name=".Hospital_location"
            android:exported="false" />
        <activity
            android:name=".mapsActivity"
            android:exported="false" />
        <activity
            android:name=".DonorLocation"
            android:exported="false"
            android:label="@string/title_activity_donor_location" />
        <activity
            android:name=".Donor_Details"
            android:exported="false" />
        <activity
            android:name=".RegisterAcitivity"
            android:exported="false" />
        <activity
            android:name=".login_Activity"
            android:exported="true" />

    </application>

</manifest>